db.sqlite3
*.db
logs/
run/
*.log
*.swp
*.sh
*.db
*.DS_Store
*.py[cod]
django.wsgi
local_settings.py
/static/media/*
/static/uploads/*
/static/images/uploads/*
static/admin/*
static/rest_framework/*
static/rest_framework_docs/*
